<div class="header">
  <div class="topper"></div>
  <div class="logo"></div>
  <div class="header-title">SideQuest</div>
  <div class="apk-install">Drag and drop your APK/OBB files <br>over this window to install!</div>
  <div class="title-menu-container">
    <i routerLink="custom-levels" mz-tooltip class="material-icons white-text no-outline" position="bottom" tooltip="Beast Saber Custom Levels">
      queue_music
    </i>
    <i routerLink="packages" mz-tooltip class="material-icons white-text no-outline" position="bottom" tooltip="Currently Installed Apps">
      dashboard
    </i>
    <i id="device-settings" routerLink="tools" mz-tooltip class="material-icons white-text no-outline" position="bottom" tooltip="Device Settings & Tools">
      build
    </i>
    <i (click)="openDebugger()" id="open-debugger" mz-tooltip class="material-icons white-text " position="bottom" tooltip="Open Debugger">
      bug_report
    </i>
    <i *ngIf="appService.isTheme(theme.LIGHT)" (click)="appService.setTheme(theme.DARK)" id="day-mode" mz-tooltip class="material-icons white-text no-outline" position="bottom" tooltip="Dark theme.">
      brightness_2
    </i>
    <i *ngIf="appService.isTheme(theme.DARK)" (click)="appService.setTheme(theme.LIGHT)"  id="night-mode" mz-tooltip class="material-icons white-text no-outline" position="bottom" tooltip="Light theme.">
      brightness_5
    </i>
    <i (click)="minimizeApp()" mz-tooltip class="material-icons white-text no-outline" position="bottom" tooltip="Minimize the app to the taskbar.">
      minimize
    </i>
    <i (click)="maximizeApp()" mz-tooltip class="material-icons white-text no-outline" position="bottom" tooltip="Maximize the app to fill your screen.">
      aspect_ratio
    </i>
    <i (click)="closeApp()" mz-tooltip class="material-icons white-text no-outline" position="bottom" tooltip="Close the app.">
      close
    </i>
  </div>
  <svg
    id="connection-refresh-loading"
    style="display:none"
    class="uil-ring-alt"
    width="20px"
    height="20px"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
    preserveAspectRatio="xMidYMid">
    <rect x="0" y="0" width="100" height="100" fill="none" class="bk" />
    <circle cx="50" cy="50" r="40" stroke="rgba(175,175,183,0)" fill="none" stroke-width="10" stroke-linecap="round" />
    <circle cx="50" cy="50" r="40" stroke="#91cce6" fill="none" stroke-width="6" stroke-linecap="round">
      <animate attributeName="stroke-dashoffset" dur="1s" repeatCount="indefinite" from="0" to="502" />
      <animate
        attributeName="stroke-dasharray"
        dur="1s"
        repeatCount="indefinite"
        values="150.6 100.4;1 250;150.6 100.4"
      />
    </circle>
  </svg>
  <div
    id="connection-status"
    class="connection-status-unauthorized"
    [ngClass]="getConnectionCssClass()"
    mz-tooltip
    position="bottom"
    tooltip="Device Connection Status">
    <div id="connection-status-message">{{adbService.deviceStatusMessage}}</div>
  </div>
  <!--<a class="waves-effect waves-light btn add-repo modal-trigger" href="#modal1">-->
    <!--Add Repo-->
  <!--</a>-->
  <!--<a class="waves-effect waves-light btn update-available link" data-url="https://github.com/the-expanse/SideQuest/releases">-->
    <!--Update Available-->
  <!--</a>-->
  <!--<a class="waves-effect waves-light btn sync-songs-now">My Downloads</a>-->
  <!--<div class="sync-songs">-->
    <!--<span class="beat-saber-version"></span>&nbsp;&nbsp;-->
    <!--<a-->
      <!--class="waves-effect waves-light btn refresh-songs-one tooltipped"-->
      <!--data-position="bottom"-->
      <!--data-tooltip="Refresh the songs in this list.">-->
      <!--Refresh Songs-->
    <!--</a>-->
    <!--&nbsp;&nbsp;-->
    <!--<a-->
      <!--class="waves-effect waves-light btn open-songs-main-one tooltipped"-->
      <!--data-position="bottom"-->
      <!--data-tooltip="Open your custom levels folder.">-->
      <!--Open Custom Levels Folder-->
    <!--</a>-->
    <!--&nbsp;&nbsp;-->
    <!--<a-->
      <!--class="waves-effect waves-light btn modal-trigger restore-backup-button tooltipped"-->
      <!--data-position="bottom"-->
      <!--data-tooltip="Manage your APK and Data backups."-->
      <!--href="#modal5">-->
      <!--Backups-->
    <!--</a>-->
    <!--&nbsp;&nbsp;-->
    <!--<a-->
      <!--class="waves-effect waves-light btn modal-trigger sync-selected-button tooltipped"-->
      <!--data-position="bottom"-->
      <!--data-tooltip="Build a new beat saber APK and install these songs."-->
      <!--href="#modal4">-->
      <!--Sync Custom Levels-->
    <!--</a>-->
  <!--</div>-->
  <!--<div id="browser-bar">-->
    <!--<a class="btn-floating waves-effect waves-light browser-button browser-back-button">-->
      <!--<i class="material-icons">keyboard_arrow_left</i>-->
    <!--</a>-->
    <!--<a class="btn-floating waves-effect waves-light browser-button browser-forward-button">-->
      <!--<i class="material-icons">keyboard_arrow_right</i>-->
    <!--</a>-->
    <!--<div class="input-field inline browser-input">-->
      <!--<input id="web_address" type="text" placeholder="Address" />-->
      <!--<label class="active" for="web_address">-->
        <!--Address-->
      <!--</label>-->
    <!--</div>-->
    <!--<a class="btn-floating waves-effect waves-light browser-button browser-send-button">-->
      <!--<i class="material-icons">send</i>-->
    <!--</a>-->
    <!--<svg-->
      <!--class="browser-loading uil-ring-alt"-->
      <!--width="40px"-->
      <!--height="40px"-->
      <!--xmlns="http://www.w3.org/2000/svg"-->
      <!--viewBox="0 0 100 100"-->
      <!--preserveAspectRatio="xMidYMid">-->
      <!--<rect x="0" y="0" width="100" height="100" fill="none" class="bk" />-->
      <!--<circle cx="50" cy="50" r="40" stroke="rgba(175,175,183,0)" fill="none" stroke-width="10" stroke-linecap="round" />-->
      <!--<circle cx="50" cy="50" r="40" stroke="#91cce6" fill="none" stroke-width="6" stroke-linecap="round">-->
        <!--<animate attributeName="stroke-dashoffset" dur="1s" repeatCount="indefinite" from="0" to="502" />-->
        <!--<animate-->
          <!--attributeName="stroke-dasharray"-->
          <!--dur="1s"-->
          <!--repeatCount="indefinite"-->
          <!--values="150.6 100.4;1 250;150.6 100.4"-->
        <!--/>-->
      <!--</circle>-->
    <!--</svg>-->
  <!--</div>-->
  <div id="searchFilterContainer">
    <div class="search">
      <div class="input-field inline search-box">
        <input id="searchBox" class="input-dark-theme" type="text" />
        <label for="searchBox" class="active label-dark-theme">
          Search
        </label>
      </div>
      <a class="waves-effect waves-dark btn search-button-margin white black-text">search</a>
    </div>
    <div class="filters" style="display: none">
      <div class="input-field inline filter ">
        <select id="filterDropdown">
          <option>All</option>
        </select>
      </div>
    </div>
  </div>
</div>
