<div class="outer-container">
  <div class="packs-left side-packs">
    <div class="side-packs-fixed">
      <h4>My Song Packs</h4>
      <div class="pack-container" #pack_container dragula="SONGS">
        <div class="packOuter" *ngFor="let pack of (bsaberService.jSon?bsaberService.jSon.packs:[])" >
          <i class="material-icons right blue-text show-pack cursor"
             (click)="pack.isOpen = !pack.isOpen">
            {{pack.isOpen?'expand_less':'expand_more'}}
          </i>
          <i class="material-icons right cursor" (click)="sortPack(pack)">sort</i>
          <i class="material-icons right cursor" (click)="uniquePack(pack)">filter_1</i>
          <i class="material-icons right green-text cursor">edit</i>
          <h5 class="name truncate">{{pack.name}}</h5>
          <div class="pack-song-container-outer">
            <ul class="collection pack-song-container" *ngIf="pack.isOpen"  dragula="SONGS">
              <li *ngFor="let song of pack.levelIDs" class="collection-song avatar">
                <a href="#!" class="secondary-content"><i class="material-icons orange-text">close</i></a>
                <img [src]="song.cover" alt="" class="circle red" />
                <span class="title">{{song.name}}</span>
                <p class="description"></p>
                <i class="material-icons cursor">drag_indicator</i>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="packs-right">
    <h4>All My Songs</h4>
    <ul class="collection song-container" #song_container  dragula="SONGS">
      <li *ngFor="let song of bsaberService.songs" class="collection-song avatar">
        <a href="#!" class="secondary-content"><i class="material-icons orange-text">close</i></a>
        <img [src]="song.cover" alt="" class="circle red" />
        <span class="title">{{song.name}}</span>
        <p class="description"></p>
        <i class="material-icons cursor">drag_indicator</i>
      </li>
    </ul>
  </div>
</div>
