.packs-left,.packs-right{
  display:inline-block;
  float:left;
  width: 44%;
  height: 100%;
  margin-left: 1%;
  margin-right: 0%;
}
.packs-right {
  width: 53%;
}
.outer-container{
  height: 100%;
  overflow:hidden;
}
.collection-song.avatar {
  min-height: 84px;
  padding-left: 72px;
  position: relative;
}
.collection-song {
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}
.collection-song.avatar:not(.circle-clipper)>.circle, .collection-song.avatar :not(.circle-clipper)>.circle {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 15px;
  display: inline-block;
  vertical-align: middle;
}
.collection-song.avatar .title {
  font-size: 16px;
}
.packOuter{

  /*border-left: 1px solid #e0e0e0;*/
  /*border-right: 1px solid #e0e0e0;*/
}

.side-packs {
  height: 100%;
}
.side-packs-fixed {
  position: fixed;
  width: 40%;
  height: 100%;
}
.delete-pack {
  display: none;
}
.sort-songs {
  float: right;
}
.no-margin-top {
  margin-top: 0;
}
.pack-container,.song-container {
  height: calc(100% - 250px);
  overflow: auto;
  border: 0px solid #e0e0e0;
  border-top: 1px solid #cfcfcf;
  border-right: 1px solid #cfcfcf!important;
}
.song-container {
  height: calc(100% - 75px);
}
.pack-song-container-outer {
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.add-to-pack {
  padding: 1em;
  width: 100%;
  border: 3px dashed darkgrey;
  text-align: center;
}
.show-pack {
  margin-right: 0.5em;
  font-size: 2rem;
}
.pack-song-container {
  padding: 10px;
}
