.card{
  margin:20px;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
  -webkit-box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.75);
}
.card-light-theme{
  background-color: #fff;
}
.card-dark-theme{
  color: white;
  background-color: #4e555b;
}
.cfooter{
  background-image: linear-gradient(90deg,#E93C96, #533A7E);
  padding:10px;
  width: 100%;
  text-align: center;
  color:white;
  max-height: 50px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.cStatus{
  background-color:#4caf50;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display:inline-block;

}
.cardImg{
  width:100%;
  padding:10px;
  max-height:200px;
  max-width:200px;
}
.cinfo{
  line-height: 1;
  display:inline;
  padding-left:10px;
  font-size:19px;
}
.cinfo i{
  float:right;
  margin-right:10px;
}
.image-background {
  height: 180px;
  width: 100%;
  background-size: cover;
  background-color: #586161;
  border-top-left-radius:20px;
  border-top-right-radius:20px;
}
.card-title-one{
  font-size: 1rem;
}
.card-content{
  padding: 16px;
}
.card-action{
  padding: 0;
}
