
<div class="card sticky-action fixed-height {{isAppScreen?'no-cursor':''}}"  [ngClass]="appService.getThemeCssClass('card')">
  <div class="card-image waves-effect waves-block waves-light">
    <div class="activator image image-background {{isAppScreen?'no-cursor':''}}" [ngStyle]="{'background-image':'url('+app.icon+')'}"></div>
  </div>
  <div class="card-content">
    <i class="material-icons left green-text" *ngIf="app.__is_installed">done</i>
    <span class="card-title card-title-one activator truncate {{isAppScreen?'no-cursor':''}}" [ngClass]="appService.getThemeCssClass('text')">
    <i class="material-icons right white-text cursor" *ngIf="!isAppScreen">more_vert</i>
      {{app.name}}
    </span>
  </div>
  <div class="card-reveal {{isAppScreen?'no-cursor':''}}" *ngIf="!isAppScreen" [ngClass]="appService.getThemeCssClass('card')">
    <span class="card-title card-title-two truncate {{isAppScreen?'no-cursor':''}}" [ngClass]="appService.getThemeCssClass('text')">{{app.name}}</span>
    <p class="description">
      Here is some more information about this product that is only revealed once clicked on.
    </p>
  </div>
  <div class="card-action right-align" *ngIf="!isAppScreen">
    <div class="cfooter no-outline {{isAppScreen?'no-cursor':'cursor'}}" routerLink="/app/{{index}}/{{app.packageName}}">MORE</div>
  </div>
</div>
