<div class="col s6 l3">
  <div class="card sticky-action fixed-height"  [ngClass]="appService.getThemeCssClass('card')">
    <div class="card-image waves-effect waves-block waves-light">
      <div class="activator image image-background" [ngStyle]="{'background-image':'url('+app.icon+')'}"></div>
    </div>
    <div class="card-content">
      <i class="material-icons right green-text">done</i>
      <span class="card-title card-title-one activator truncate" [ngClass]="appService.getThemeCssClass('text')">{{app.name}}</span>
    </div>
    <div class="card-reveal" [ngClass]="appService.getThemeCssClass('card')">
      <span class="card-title card-title-two truncate" [ngClass]="appService.getThemeCssClass('text')">{{app.name}}</span>
      <p class="description">
        Here is some more information about this product that is only revealed once clicked on.
      </p>
    </div>
    <div class="card-action right-align">
      <div class="cfooter no-outline" routerLink="/app/{{app.packageName}}">MORE</div>
      <!--<a href="#" class="waves-effect waves-light btn install-apk">Install</a>-->
    </div>
  </div>
</div>
<!--<div class="card">-->
<!--<img class="cardImg" src="/img/discord.png"><br>-->
<!--<div class="cinfo">-->
<!--Discord-->
<!--<i class="fas fa-ellipsis-v-alt" aria-hidden="true"></i>-->
<!--</div>-->
<!--<div class="cfooter">-->
<!--More-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<img class="cardImg" src="/img/yt.png"><br>-->
<!--<div class="cinfo">-->
<!--Youtube-->
<!--<i class="fas fa-ellipsis-v-alt" aria-hidden="true"></i>-->
<!--</div>-->
<!--<div class="cfooter">-->
<!--More-->
<!--</div>-->
<!--</div>-->
<!--<div class="card">-->
<!--<img class="cardImg" src="/img/discord.png"><br>-->
<!--<div class="cinfo">-->
<!--Discord-->
<!--<i class="fas fa-ellipsis-v-alt" aria-hidden="true"></i>-->
<!--</div>-->
<!--<div class="cfooter">-->
<!--More-->
<!--</div>-->
<!--</div>-->
