.app-meta {
  text-align: left;
}
.app-image-container {
  position: relative;
  padding-bottom: 15px;
}
.app-image {
  min-width: 128px;
  min-height: 128px;
  max-width: 100%;
}
.text-center {
  text-align: center;
}
.install-apk {
  margin-top: -8px;
}
.collapsible-header {
  display: block;
}
