<div class="row container">
<div class="col s6 l5">
  <app-side-quest-card *ngIf="app" [app]="app" [index]="currentRepo" [is-app-screen]="true" class="normal-cursor"></app-side-quest-card>
  <div class="waves-effect waves-light btn uninstall-apk pink-button"
       *ngIf="app&&app.__is_installed"
       [ngClass]="appService.getThemeCssClass('button')"
    (click)="uninstallApk()">Uninstall</div>

</div>

<div class="col s6 l7 summary" [ngClass]="appService.getThemeCssClass('text')" [innerHTML]="appDescription">

</div>
<div class="col s12">
  <br>
  <ul class="app-versions" *ngIf="app">
    <app-side-quest-app-version *ngFor="let apk of package" [apk]="apk" [isInstalled]="app.__is_installed"></app-side-quest-app-version>
  </ul>

  <div class="app-meta">{{getRepo()}}</div>
</div>

</div>
