<div class="side-menu">
  <div class="menu-items">
    <app-side-menu-item *ngFor="let repo of repoService.repos" [repo]="consoleIt(repo)"></app-side-menu-item>
  </div>

  <div class="menu-item-beat">
    <div
      class="menu-item-inner beat-menu side-sub-menu tooltipped"
      data-position="right"
      data-tooltip="Browse and install custom songs from www.bsaber.com."
    >
      <img src="assets/images/bsaber.png" class="menu-icon" /><br />
      <span class="menu-name">Beast Saber</span>
    </div>
  </div>

  <div class="menu-item-repo" routerLink="/repos">
    <div
      class="menu-item-inner add-menu side-sub-menu tooltipped"
      data-position="right"
      data-tooltip="Manage the app repos shown in the side menu."
      data-type="repos"
    >
      <div class="row no-margin" >
        <div class="col s6 no-padding">
          <i class="material-icons fixed-menu-icon">apps</i>
        </div>
        <div class="col s6 no-padding icon-text">Repos</div>
      </div>
    </div>
  </div>
  <div class="menu-item-video">
    <a
      class="menu-item-inner video-menu side-sub-menu modal-trigger tooltipped"
      data-position="right"
      data-tooltip="Watch a great how-to video on how to use SideQuest."
      href="#modal3"
    >
      <div class="row no-margin">
        <div class="col s6 no-padding">
          <i class="material-icons fixed-menu-icon"
          >ondemand_video</i
          >
        </div>
        <div class="col s6 no-padding icon-text">How-To</div>
      </div>
    </a>
  </div>
  <div class="menu-item-setup" routerLink="/setup">
    <div
      class="menu-item-inner setup-menu side-sub-menu tooltipped"
      data-position="right"
      data-tooltip="Setup developer mode. You should only have to do this once."
    >
      <div class="row no-margin">
        <div class="col s6 no-padding">
          <i class="material-icons fixed-menu-icon"
          >done_all</i>
        </div>
        <div class="col s6 no-padding icon-text">Setup</div>
      </div>
    </div>
  </div>
  <div id="connection-ip-address"></div>
  <a id="enable-wifi" href="#" class="waves-effect waves-light btn"
  >Wifi Mode</a
  >
</div>
