.side-menu {
  height: calc(100% - 160px);
  width: 135px;
  position: absolute;
  left: 0;
  top: 160px;
  background: #533a7e;
  border-bottom-left-radius: 5px;
}
.menu-items {
  height: calc(100% - 225px);
  margin-top: 90px;
  overflow: hidden;
  overflow-y: auto;
  border-bottom: 1px solid #afafaf;
  border-top: 1px solid #afafaf;
  background: #1b112a;
}
.menu-item a {
  color: white;
  display: block;
}
.menu-item,
.menu-item-setup,
.menu-item-repo,
.menu-item-beat,
.menu-item-video {
  font-family: 'Roboto', sans-serif;
  color: white;
  position: relative;
}
.menu-item-setup,
.menu-item-repo,
.menu-item-beat,
.menu-item-video {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 135px;
}
.side-sub-menu,.menu-item-setup {
  display: block;
  color: white;
  outline: none;
}
.menu-item-beat {
  top: 0px;
  height: 92px;
}
.menu-item-repo {
  bottom: 92px;
}
.menu-item-video {
  bottom: 46px;
}
.menu-item-inner:hover {
  cursor: pointer;
  background: #e93c96;
  border-radius: 4px;
}
.menu-item-inner:hover:after,
.menu-item-inner.active:after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: calc(50% - 10px);
  border-color: transparent;
  border-right-color: #fff;
  border-width: 10px;
  border-style: solid;
  pointer-events: none;
  cursor: pointer;
}
.menu-item-inner {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.menu-item-inner.side-sub-menu {
  padding-top: 8px;
  padding-bottom: 8px;
}
#enable-wifi {
  position: absolute;
  bottom: 30px;
  left: 15px;
  display: none;
}
.menu-icon {
  font-size: 2rem;
  max-width: 48px;
}
.fixed-menu-icon {
   font-size: 1.8rem;
   max-width: 25px;
   vertical-align: middle;
 }
.icon-text {
  height: 26px;
  line-height: 1.8;
  text-align: left;
}
